Project: DC Motor Direction Control Using Joystick and L293D

Components Required:
- Arduino Uno/Nano
- Joystick Module
- L293D IC
- DC Motor
- Breadboard
- Jumper Wires
- 6V–12V Battery (for motor power)

Circuit Connections:

Joystick -> Arduino
VCC  -> 5V
GND  -> GND
VRx  -> A0
VRy  -> Not Connected
SW   -> Not Connected

L293D -> Arduino / Motor / Power
Pin 1  (Enable 1,2)     -> 5V
Pin 2  (Input 1)        -> D8
Pin 3  (Output 1)       -> Motor Terminal 1
Pin 4  (GND)            -> GND
Pin 5  (GND)            -> GND
Pin 6  (Output 2)       -> Motor Terminal 2
Pin 7  (Input 2)        -> D9
Pin 8  (Motor Supply)   -> +6V to +12V Battery
Pin 9                  -> Not Used
Pin 10                 -> Not Used
Pin 11                 -> Not Used
Pin 12 (GND)           -> GND
Pin 13 (GND)           -> GND
Pin 14                 -> Not Used
Pin 15                 -> Not Used
Pin 16 (Logic Supply)  -> 5V

Common Ground:
- Arduino GND
- L293D Pins 4, 5, 12, 13
- Battery Negative (-)

All grounds must be connected together.

Arduino Pins Used:
- A0 : Joystick X-axis
- D8 : L293D Input 1
- D9 : L293D Input 2

Functionality:
- Move joystick left  -> Motor rotates in one direction
- Move joystick right -> Motor rotates in opposite direction
- Keep joystick center -> Motor stops

Software Required:
- Arduino IDE 2.x

Libraries Required:
- None

L293D IC

          L293D
       +---------+
 EN1  1|●      16| VCC1 (5V)
 IN1  2|        15| NC
OUT1  3|        14| NC
 GND  4|        13| GND
 GND  5|        12| GND
OUT2  6|        11| NC
 IN2  7|        10| NC
 VMOT 8|         9| NC
       +---------+

